* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("/images/whistle-on-blackboard-background-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 700px;
  height: 800px;
  margin-top:40px;
   
}

.form-card {
  background: rgba(255, 255, 255, 0.55);
  padding: 40px;
  border-radius: 16px;
  height: 800px;
  border: 1px solid rgba(255,255,255,0.6);
  box-shadow: 0 8px 24px rgba(0,0,0,0.12);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

h1 {
  text-align: center;
  margin-bottom: 5px;
  color: black;
}

.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 30px;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.field {
  flex: 1;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  color:black;
}

label {
  font-weight: 600;
  margin-bottom: 12px;
}

input, select {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 20px;
}

small {
  margin-top: 5px;
  color: #777;
}

button {
  width: 200px;
  margin: 15px auto 0;
  display: block;
  padding: 16px;
  background: #1db954;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.35s;
  transition-delay: 0.2s;
}

button:hover {
  background: #17a74a;
  width: 500px; 
   border-radius: 10px;
}